    body{
        background-color: black;
        margin: 0;
        color: #F5F5DC;
    }
    
    .navbar nav {
        position: fixed;     
        top: 0;   
        height: 50px;           
        padding: 1rem; 
        width: 100%;
        z-index: 9999;
        padding-left: 2rem;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;  
        background-color: #F5F5DC; 
        display: flex;
        justify-content: right;
        align-items: center;
        
    }

    .navbar nav ul {
        list-style: none;
        margin-right: 22rem;
        padding: 0;
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
        gap: 2rem;
    }

    .navbar nav ul li a {
        color: #6F4E37;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .navbar.scrolled {
        background-color: #E5E4E2;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    }

    .navbar.scrolled nav ul li a {
        color: #F5F5DC;
    }    

    .intro {
        margin: 150px 50px 0 50px;
        color: #F5F5DC;
    }

    .intro h3{
        font-size: 1.2rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
    }

    .intro h1{
        font-size: 3rem;
        font-weight: bold;
        margin: 0 0 1rem 0;
        color: wheat;
    }

    .intro p{
        font-size: 1.2rem;
        max-width: 600px;
        line-height: 1.6;
    }

    .stats-container{
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-left: -350px;
        flex-wrap: wrap;
    }

    .stat-box{
        background-color: #6F4E37;
        border: 2px solid #FFFDD0;
        border-radius: 6px;
        padding: 1rem 1.5rem;
        color: #F5F5DC;
        text-align: center;
        min-width: 150px;
        box-shadow: 0 4px 4px;
        transition: 0.2s ease;     
    }

    .stat-box:hover {
        transform: scale(1.05);
    }

    .stat-number {
        font-size: 2.5rem;
        font-weight: bold;
        color: #F5F5DC;
        margin-bottom: 0.5rem;
    }

    .stat-label {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .intro-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        flex-wrap: wrap;
    }

    .profile-image {
        position: absolute;
        top: 120px;
        right: 100px;
    }

    .profile-image img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px wheat;
    }

    .skills-section {
        margin: 3rem 2rem;
        color: black;
        background-color: #F5F5DC;
        padding: 1.5rem;
        border-radius: 10px;
    }

    .skills-section h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #6F4E37;
        font-weight: bold;
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: 	#A56B46;  /* Platinum color code */
        padding: 0.8rem;
        border-radius: 8px;
        width: 100px;
        text-align: center;
    }

    .skill-item img {
        width: 40px;
        height: 40px;
        margin-bottom: 0.5rem;
    }

    .skill-item span {
        font-size: 0.9rem;
    }

    .skill-item:hover {
        background-color: #FFFDD0; /* Light Biege */
        transform: scale(1.05);
        transition: 0.3 ease;
        cursor: pointer;
    }

    .extra-skill {
        display: none;
    }

    #toggle-skills {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: 	#A56B46;
        color: #F5F5DC;
        border: whitesmoke;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    html {
        scroll-behavior: smooth;
    }

    .projects-section {
        margin: 3rem 2rem;
        color: #6F4E37;
        background-color: #F5F5DC;
        padding: 1.5rem;
        border-radius: 10px;
    }

    .projects-section h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #6F4E37;  /* Coffee Colour */
        font-weight: bold;
    }

    .projects-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .project-card {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
        background-color: 	#A56B46; 
        color: black;
        width: 100%;
        max-width: 1230px;
        margin-left: 70px;
    }

    .black-container {
       background-color: black;
       color: black; 
       padding: 1rem;
       border-radius: 8px;
    }


    .projects-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F5F5DC;  /* Platinum color code */
        padding: 0.8rem;
        border-radius: 8px;
        width: 100px;
        text-align: center;
    }

    .projects-item img {
        width: 40px;
        height: 40px;
        margin-bottom: 0.5rem;
    }

    .projects-item span {
        font-size: 0.9rem;
    }

    .projects-item:hover {
        background-color: #F5F5DC;
        transform: scale(1.05);
        transition: 0.3 ease;
        cursor: pointer;
    }

    .flappy-image{
        width: 400px;
        height: 400px;
        border-radius: 8px;
        object-fit: cover;
    }

    .text-content h3 {
        font-size: 2rem;
        margin-bottom: 0.8rem; 
    }

    .text-content h4 {
        font-size: 1rem;
        margin-bottom: 0.9rem;
    }

    .inner-box {
        background-color: #F5F5DC;
        color: black;               
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-size: 1rem;
        width: fit-content;
        margin-top: 1rem;
        border: 1px solid #A56B46;  /* Brown Color */
        align-self: flex-start;
    }

    .button-row {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }

    .inner-box2,
    .inner-box3 {
        background-color: wheat;
        color: black;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-size: 0.9rem;
        border: 1px solid #F5F5DC;  /* Biege Color */
        cursor: pointer;
        transition: background-color 0.3s ease;
}

    .inner-box2:hover,
    .inner-box3:hover {
        background-color: #F5F5DC;
    }


    /* Css for small phones */

    @media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: black;
  }

   .navbar {
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center; /* Push content to right */
    position: fixed;
    
  }

  .navbar nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar nav ul {
    display: flex;
    flex-direction: row; /* horizontal even on mobile */
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar nav ul li a {
    font-size: 0.85rem;
    color: black;
    text-decoration: none;
  }

  .navbar.scrolled {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #111;
    z-index: 1000;
  }

  .navbar.scrolled nav ul li a {
    color: #f0f0f0;
  }

    .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 1rem;
        transform: translateX(-60px);

    }

    .profile-image img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .intro {
        text-align: center;
        padding: 0 1rem;
        margin-top: 300px;
    }

    .intro h3{
       font-size: 1rem;
       font-weight: 500;
       color: white;
       margin: 0.2rem 0; 
    }

    .intro h1{
        font-size: 1.4rem;
        font-weight: 700;
        color: white;
        margin: 0.2rem 0;
    }

    .intro p{
        font-size: 0.95rem;
        color: white;
        line-height: 1.5;
        margin-top: 0.5rem;
    }

    .stats-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: nowrap;
        width: 50px;
        margin: 0 auto;
    }

    .stat-box {
        width: 80%;
        padding: 0.09rem;
        border-radius: 6px;
        background-color: grey;
        border: 2px solid white;
        color: whitesmoke;
        text-align: center;
        box-shadow: 0 4px 4px;
        transition: 0.2s ease;
    }

    .stat-box:hover {
        transform: scale(1.05);
    }

    .stat-number {
        font-size: 1.2rem;
        font-weight: bold;
        color: whitesmoke;
        margin-bottom: 0.5rem;
    }

    .stat-label {
        font-size: 0.8rem;
        font-weight: normal;
    }

    .intro-wrapper {
      flex-direction: column;
      padding: 1rem;
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #E5E4E2;
        padding: 0.8rem;
        border-radius: 8px;
        width: 23%;
        text-align: center;
    }

    .skill-item img {
        width: 40px;
        height: 40px;
        margin-bottom: 0.5rem;
    }

    .skill-item span {
        font-size: 0.9rem;
    }

    .skill-item:hover {
        background-color: #E5E4E2;
        transform: scale(1.05);
        transition: 0.3s ease;
        cursor: pointer;
    }

    .extra-skill {
        display: none;
    }

    #toggle-skills {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #E5E4E2;
        color: black;
        border: whitesmoke;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }
}

